@model Snippets.Models.snippetCollection

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MasonLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/hover.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/animate.css" />
    @Scripts.Render("~/bundles/parallax")
</head>
<h2 style="text-align:center">@Model.Title</h2>

<div class="container">
    <div id="contentP" class="contentP">
        @foreach (var snippet in Model.snippets)
        {
            <br />
            <br />
            
            <div class="tileItemP text-center">
                <div class="hvr-grow-shadow">
                    
                    @if (snippet.image == null)
                    {
                        <a href="@snippet.Link"><img class="snippetBackground" src="/Images/snippet.jpg" /></a>
                        <p>@snippet.description</p>
                    }
                    else
                    {
                        <a href="@snippet.Link"><img class="snippetBackground" src="@snippet.image" /></a>
                        <p>@snippet.description</p>
                    }
                    
                    @*<iframe src="http://www.google.com"></iframe>*@

                    <p></p>

                </div>
            </div>
        }
        </div>
    </div>

<script>
    $(document).ready(function () {

        var $container = $('#contentP');
        $container.masonry({
            columnWidth: 200,
            itemSelector: '.tileItemP',
            isFitWidth: true,
            isAnimated: !Modernizr.csstransitions
        })
        var $children = $container.children();
        $children.addClass("animated zoomIn");

    });
</script>
        @*<div>
                <h4>snippetCollection</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>


                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>*@
