@model IEnumerable<Snippets.Models.snippetCollection>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasonLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/hover.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/animate.css" />
    @Scripts.Render("~/bundles/parallax")
</head>



<br />

<div class="container">
    <div id="contentP" class="contentP">
        @foreach (var item in Model)
        {
            <br />
            <div class="tileItemP text-center">
                <div class="hvr-grow-shadow">
                    <p>@item.Title</p>
                    <a href="@Url.Action("Details", new { id = item.ID })"><img class="snippetBackground" src="~/Images/snippet.jpg" /></a>
                    <br />
                    <a href="@Url.Action("Delete", new { id = item.ID })">Delete</a>
                    <br />
                    <a href="@Url.Action("MakePublic", new { id = item.ID })">Publish</a>
                    <br />

                    @*<iframe src="http://www.google.com"></iframe>*@

                   

                </div>
            </div>
        }
    </div>
</div>

<script>
$(document).ready(function() {

    var $container = $('#contentP');
    $container.masonry({
        columnWidth: 200,
        itemSelector: '.tileItemP',
        isFitWidth: true,
        isAnimated: !Modernizr.csstransitions
    })
    var $children = $container.children();
    $children.addClass("animated zoomIn");

});
</script>
