@model IEnumerable<Snippets.Models.snippetCollection>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasonPartial.cshtml";

}
<head>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Bundles/Masonry")
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="~/Content/hover.css" />
</head>

<br />

<div class="container">
    <div id="contentP" class="contentP">
        @foreach (var item in Model)
        {
            <div class="tileItemP text-center">
                <div class="hvr-grow-shadow">
                    <a href="#"><img class="snippetBackground" src="~/Images/snippet.jpg" /></a>
                    @*<iframe src="http://www.google.com"></iframe>*@
                    <p>@item.Title</p>
                    <p>testesetsetset</p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </div>
           </div>
        }
    </div>
</div>

<script>
$(document).ready(function() {

    var $container = $('#contentP');
    $container.masonry({
        columnWidth: 200,
        itemSelector: '.tileItemP',
        isFitWidth: true,
        isAnimated: !Modernizr.csstransitions
    })
    var $children = $container.children();
    $children.addClass("animated zoomIn");

});
</script>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>*@
