@model Snippets.Models.Collections_Snippet_CombinedModel

@{
    ViewBag.Title = "Create";
}


<div class="container">
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Snippet</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.snippet.Link, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.snippet.Link, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.snippet.Link, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.snippet.description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.snippet.description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.snippet.description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                @Html.DropDownListFor(m => m.selectedCollectionID, Model.collectionDropdown)
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input type="submit" value="Create" class="button" />

                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
