@model Snippets.Models.Snippet

@{
    ViewBag.Title = "Details";
}



<div class="container">
    <h2>Details</h2>
    <h4>Snippet</h4>
    <hr />
    <iframe src="@Model.Link"></iframe>
    

    
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

