@model IEnumerable<Snippets.Models.Snippet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasonLayout.cshtml";
  
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/hover.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/animate.css" />
    @Scripts.Render("~/bundles/parallax")
</head>

<div id="header-wrapper" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="Images/topDown.jpg" data-natural-width="2600" data-natural-height="1200" style="height: 12em"></div>

<br />
<br />
<div class="container">
    <a href="/Snippets/Create" id="snipButton">Create</a>
</div>
<br />
<br />
<hr />
<div><h1 style="text-align:center;">Snippet's You've Made! nice Work.</h1></div>
    <div class="container">
        <div id="content" class="content">
            @foreach (var item in Model)
            {
                <div class="tileItem text-center">
                    <div class="hvr-float-shadow">
                       @if (item.image == null)
                       {
                        <a href="@Url.Action("Details",new { id = item.ID })"><img style="height:150px;" src="/Images/snippet.jpg" /></a>
                        @*<iframe src="http://www.google.com"></iframe>*@
                        <p>@item.description</p>
                        <a href="@Url.Action("Delete", new { id = item.ID })">Delete</a>
                       }
                       else
                       {
                        <a href="@Url.Action("Details",new { id = item.ID })"><img style="height:150px;" src="@item.image" /></a>
                            @*<iframe src="http://www.google.com"></iframe>*@
                            <p>@item.description</p>
                            <a href="@Url.Action("Delete", new { id = item.ID })">Delete</a>
                       }
                       

                    </div>
                </div>

            }


        </div>
    </div>
    <br />
<br />

 
<br />
<br />
   

<br />
<br />
    <script>
$(document).ready(function() {

    var $container = $('#content');
    $container.masonry({
        columnWidth: 200,
        itemSelector: '.tileItem',
        isFitWidth: true,
        isAnimated: !Modernizr.csstransitions
    })
    var $children = $container.children();
    $children.addClass("animated zoomIn");

});


    </script>
