
@{
    ViewBag.Title = "_HomeLayout";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" type="text/css" href="~/Content/hover.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/animate.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Bundles/Masonry")
    @Scripts.Render("~/bundles/parallax")
</head>

<div id="header-wrapper" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="Images/computerNotebook.jpg" data-natural-width="2600" data-natural-height="1200" style="height: 22em">

    <div id="header" class="container">
        <div id="logo">
            <span class="icon icon-group"></span>
            <h1><a href="#">CLiP</a></h1>
            <span>Share Everything</span>
         
        </div>
        <div id="triangle-up"></div>
    </div>
</div>
<div id="menu-wrapper" class="navabar">
    <div id="menu">
        <ul>
            @*<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>*@

            @if (Request.IsAuthenticated)
            {
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("LogOut","LogOff","Account",null, new { onclick= "LogoutFromGoogle();" })</li>
            }
            else
            {
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            }


            @*<li>@Html.Partial("_LoginPartial")</li>*@

        </ul>

    </div>

</div>

@RenderBody()
  

<div id="header-wrapper" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="Images/computerNotebook.jpg" data-natural-width="2600" data-natural-height="1200" style="height: 10em"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Bundles/Masonry")
    @RenderSection("scripts", required: false)


<script type="text/javascript">
var win;
function LogoutFromGoogle() {

win = window.open("http://accounts.google.com/logout", "something", "width=550,height=570");

win.close();

}
</script>